@import 'mixins';

$link-color: orange;
$header-max-width: 500px;

.main {
  position: relative;
  background: linear-gradient(135deg, #2b94e5 15%, #e2a9e5 100%);
  min-height: 100vh;
  padding: 24px 24px;
  @include max-media($header-max-width) {
    padding: 0 0 24px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgba(0, 0, 0, 0.9);
  line-height: 1.4;

  > header {
    max-width: $header-max-width;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'banner banner banner'
      'avatar info info';
    row-gap: 16px;
    align-items: center;
    justify-content: center;

    padding-bottom: 18px;
    margin-bottom: 24px;
    background: linear-gradient(135deg, #fff 15%, #eee 100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    @include max-media($header-max-width) {
      border-radius: 0;
    }
    .banner {
      grid-area: banner;
      display: block;
      width: 100%;
      max-height: 120px;
      opacity: 0.85;
      object-fit: cover;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      @include max-media($header-max-width) {
        border-radius: 0;
      }
    }
    .avatar {
      grid-area: avatar;
      place-self: center;
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.5);
      margin: 0 16px 0 16px;
    }
    div {
      grid-area: info;
      margin: 0 20px 0 0;
      h1 {
        font-weight: semi-bold;
        font-size: 24px;
        line-height: 30px;
      }
      .secondaryTitle {
        font-size: 16px;
        line-height: 20px;
      }
      .location {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 17.5px;
      }
      .info {
        margin-top: 8px;
        font-size: 14px;
      }
    }
  }

  .profileSection {
    margin: 16px 24px;
    > header {
      padding: 24px 16px 0;
      h2 {
        font-weight: normal;
        font-size: 20px;
      }
    }

    width: 600px;
    @include mobile {
      width: 100%;
    }
  }

  article {
    position: relative;
    margin: 16px 0;
    padding: 16px 16px 24px;
    background: #fff;
    border-radius: 3px;
    @include max-media($header-max-width) {
      border-radius: 0;
      margin: 0;
      border-bottom: 1px solid #eee;
    }
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    header {
      h3 {
        font-weight: semi-bold;
        font-size: 16px;
      }
      .secondaryTitle {
        font-size: 14px;
      }
      .timePeriod,
      .location {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
      }
      .logo {
        position: absolute;
        top: 18px;
        right: 18px;
        width: 50px;
        &.larger {
          width: 55px;
        }
      }
    }
    .content {
      p {
        margin-top: 16px;
        font-size: 14px;
      }
      a {
        display: block;
        margin: 16px 0 0;
        color: $link-color;
        text-decoration: underline dotted;
        &:hover,
        &:focus {
          color: lighten($link-color, 10%);
          text-decoration: underline solid;
        }
      }
    }
  }
}
