@import 'mixins';
@import 'variables';

.root {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 1; // to show box-shadow
  min-height: 56px;

  nav {
    display: flex;

    .back {
      display: flex;
      align-items: center;
      box-sizing: content-box;
      padding: 0 20px 0;
      width: 32px;
      @include mobile {
        padding: 0 16px 0;
        width: 30px;
      }
      margin: 2px;
      color: #686868;
      &:hover,
      &:focus {
        color: $app-color;
        svg {
          transform: scale(1.1);
          transform-origin: center center;
        }
      }
    }
  }

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 24px 2px;
    @include mobile {
      padding: 1px 8px 2px;
    }
    .link {
      height: 50px;
      width: 55px;
      &::after {
        bottom: 8%;
      }
      @include mobile {
        height: 48px;
        width: 50px;
        svg {
          height: 50%;
        }
      }
    }
  }
}
