$default-link-color: #686868;
$app-color: #4c8bf5;

.root {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;

  display: flex;
  justify-content: center;

  .socialLink {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 56px;
    height: 56px;
    font-size: 1.7rem;

    svg {
      height: 54%;
      // jerky: transition: transform 0.15s ease-out;
    }
    // transition: color 0.15s ease-out;
    color: $default-link-color;

    &:hover,
    &:focus {
      color: $app-color;
      svg {
        transform: scale(1.1);
        transform-origin: center center;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 95%;
      font-size: 0.65rem;
      text-transform: none;
    }
    &.linkedIn::after {
      content: 'LinkedIn';
    }
    &.github::after {
      content: 'GitHub';
    }
    &.instagram::after {
      content: 'Instagram';
    }
    &.email::after {
      content: 'Email';
    }
  }
}
