@import 'mixins';

.root {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;

  display: flex;
  justify-content: center;

  @include mobile {
    bottom: unset;
    top: 16px;
  }

  .link {
    color: #f0f0f0;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}
