/** Good default for fonts so that we can rely on system fonts. */
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;

$font-size-body: 16px;

// Twtr blue palette:
$c-primary: #1d9bf0; // rgb(29, 155, 240)
$c-background: rgba(29, 155, 240, 0.1);
$box-shadow: rgb(142, 205, 248) 0 0 0 2px;

$app-color: #4c8bf5;
