@import 'mixins';

.root {
  position: relative;
  background: linear-gradient(135deg, #e2a9e5 15%, #2b94e5 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include mobile {
    overflow: auto;
  }

  @include desktop {
    // Mouse cursor shine effect
    &::after {
      pointer-events: none; // to allow click through
      content: '';
      width: 250vw;
      height: 250vh;
      position: absolute;
      top: var(--y);
      left: var(--x);
      transform: translate(-50%, -50%);
      opacity: 0;
      background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.3), transparent);
      transition: opacity 0.5s ease-out;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}
